@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
    --primary-color: #50a;
    --secondary-color: #0e0e0e;
    --tertiary-color: #fff;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    h1,
    h3 {
        margin: 10px 0;
    }
    ul,
    p {
        margin: 10px 0;
    }
    ul {
        margin-top: 0;
        padding-left: 0.7em;
    }
    .container {
        width: 71vh;
        height: 100vh;
        margin: 0;
        display: flex;
        overflow: hidden;
        background-color: var(--tertiary-color);
        .side-column {
            width: 30%;
            color: var(--tertiary-color);
            background-color: var(--primary-color);
            .profile-picture-container {
                padding: 10%;
                padding-bottom: 0;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .pointer {
                margin: 10%;
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid var(--tertiary-color);
                h3 {
                    margin-bottom: 0;
                }
                li {
                    font-size: 0.7em;
                }
            }
        }
        .main-column {
            width: 70%;
            .name-container {
                padding: 3.5%;
                h1 {
                    margin-top: 0;
                }
                p {
                    margin: 5px 0;
                }
            }
            .curriculum-container {
                padding: 3.5%;
                border-top: 2px solid var(--primary-color);
                h3 {
                    margin-top: 0;
                    color: var(--primary-color);
                }
                .experience-item,
                .education-item,
                .course-item,
                .project-item,
                .contact-item,
                .contact-info-items {
                    margin-bottom: 10px;
                    p,
                    a {
                        margin: 0;
                        font-size: 0.7em;
                    }
                    .bold-text {
                        font-weight: bold;
                    }
                }
                .contact-items {
                    display: flex;
                    gap: 10%;
                }
            }
        }
    }
}

@page print {
    .container {
        width: 210mm;
        height: 297mm;
    }
}
