/* @import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap"); */

:root {
    --primary-color: #50a;
    --secondary-color: #0e0e0e;
    --tertiary-color: #fff;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    h1 {
        margin: 0;
        margin-bottom: 1.3vh;
        font-size: 3.5vh;
    }
    h3 {
        margin: 0.6vh 0;
        margin-bottom: 0.3vh;
        font-size: 1.7vh;
    }
    p {
        font-size: 1.3vh;
        text-align: justify;
    }
    ul {
        margin: 0.6vh 0;
        margin-top: 0;
        padding-left: 1.6vh;
        li {
            font-size: 1.3vh;
            margin-left: -0.3vh;
        }
    }
    a {
        font-size: 1.3vh;
        color: var(--primary-color);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .container {
        width: 71vh;
        height: 100vh;
        margin: 0;
        display: flex;
        overflow: hidden;
        background-color: var(--tertiary-color);
        .side-column {
            width: 30%;
            padding-bottom: 2vh;
            color: var(--tertiary-color);
            background-color: var(--primary-color);
            .profile-picture-container {
                padding: 2vh;
                padding-bottom: 0;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .pointer {
                margin: 2vh;
                margin-top: 0;
                margin-bottom: 0;
                border-top: 0.25vh solid var(--tertiary-color);
                h3 {
                    margin-bottom: 0;
                }
            }
        }
        .main-column {
            width: 70%;
            .name-container {
                padding: 2vh;
                padding-bottom: 3%;
                p {
                    font-size: 1.3vh;
                    margin: 0.5vh 0;
                }
            }
            .curriculum-container {
                padding: 0 2vh;
                padding-bottom: 2vh;
                border-top: 0.3vh solid var(--primary-color);
                h3 {
                    color: var(--primary-color);
                }
                .experience-item,
                .education-item,
                .course-item,
                .project-item,
                .contact-item,
                .contact-info-items {
                    margin-bottom: 0.6vh;
                    p,
                    a {
                        margin: 0;
                    }
                    .bold-text {
                        font-weight: bold;
                    }
                }
                .education-items {
                    display: flex;
                    justify-content: space-between;
                    div {
                        margin-bottom: 0;
                        p {
                            text-align: left;
                        }
                    }
                }
                .contact-items {
                    display: flex;
                    .contact-item {
                        margin-bottom: 0;
                        width: 33.3333333333333333333333333333%;
                    }
                }
                .contact-info-items {
                    display: flex;
                    justify-content: space-between;
                    div {
                        div {
                            display: flex;
                            gap: 1vh;
                            a {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

@page print {
    .container {
        width: 210mm;
        height: 297mm;
    }
}
